@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

.nav-border {
  border-bottom-width: 3px;
  border-image: linear-gradient(90deg, #ff9a2c 50%, #6d5adf 50%) 1;
}

.leaflet-container {
  height: 50vh;
  max-height: 579px;
}
