@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

.nav-border {
  border-bottom-width: 3px;
  border-image: linear-gradient(90deg, #ff9a2c 50%, #6d5adf 50%) 1;
}

.leaflet-container {
  height: 50vh;
  max-height: 579px;
}

.text-header {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

.text-subheader {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.text-content {
  @apply text-lg md:text-xl lg:text-2xl;
}

.text-content-sm {
  @apply text-sm md:text-base lg:text-lg;
}
